PROVIDER_BASE_URL=http://events-provider.dev-2.python-labs.ru
PROVIDER_API_KEY=RsOB79YmORuaILmZoVrDJIl5mPq8R091jpR8HW7UbnM
HOST=0.0.0.0
PORT=8000
SYNC_INTERVAL_HOURS=24
REQUEST_TIMEOUT=10.0
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/events
