AGGREGATOR_PROVIDER_BASE_URL=http://events-provider.dev-2.python-labs.ru
AGGREGATOR_PROVIDER_API_KEY=RsOB79YmORuaILmZoVrDJIl5mPq8R091jpR8HW7UbnM
AGGREGATOR_HOST=0.0.0.0
AGGREGATOR_PORT=8000
AGGREGATOR_SYNC_INTERVAL_HOURS=24
AGGREGATOR_REQUEST_TIMEOUT=10.0
AGGREGATOR_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/events
